@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  margin: 0;
  background-color: #e5e5e5;
  min-height: calc(100vh - 10px);
}

.wrapper1 {
  padding-top: 10px;
  background-color: #fff;
  border-bottom-left-radius: 75px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  margin-left: 24px;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #6070ff;
  text-align: center;
  text-decoration: none;
}

.menu {
  margin-right: 36px;
  width: 36px;
  top: 12px;
  left: 4px;
}

.hamburger-icon {
  width: 100%;
  height: 5px;
  background-color: #6070ff;
  margin: 6px 0;
}

.headline-section {
  top: 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  color: #172b4d;
  background-image: url("../img/shapes-mobile-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 500px;
}

.flex-item {
  margin-left: 24px;
  margin-right: 24px;
}

.headline-section .flex-item1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
}

.headline-section .flex-item2 {
  font-weight: 400;
}

.headline-section.flex-item2.flex-item3 {
  font-size: 16px;
  line-height: 24px;
}

/** Socil Media **/
.social-media {
  list-style: none;
  display: flex;
  align-items: center;
  width: 50%;
  padding-bottom: 15px;
  padding-left: 24px;
}

.social-md {
  flex: 1 1 5px;
}

.menu:hover {
  cursor: pointer;
}

/* Begin works section */
.works {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-gap: 50px;
  margin-top: 50px;
  padding: 50px 16px;
}

.grid-item {
  box-sizing: border-box;
  background-color: #fff;
  transition: 0.3s;
  width: 100%;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  padding-bottom: 25px;
}

.ml-16 {
  margin-left: 16px;
}

.mr-16 {
  margin-right: 16px;
}

.bg-img-container {
  margin-top: 16px;
  margin-left: 16px;
  margin-right: 16px;
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-radius: 8px;
}

.bg-img1 {
  background-image: url("../img/project1.png");
}

.bg-img2 {
  background-image: url("../img/project2.png");
}

.bg-img3 {
  background-image: url("../img/project3.png");
}

.bg-img4 {
  background-image: url("../img/project4.png");
}

.project-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  margin-bottom: 15px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.ptags {
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  margin-left: 16px;
}

.ptag1 {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.ptag2 {
  flex: none;
  order: 1;
  flex-grow: 0;
}

.ptag3 {
  flex: none;
  order: 2;
  flex-grow: 0;
}

.ptag4 {
  flex: none;
  order: 3;
  flex-grow: 0;
}

.ptag5 {
  flex: none;
  order: 5;
  flex-grow: 0;
}

.ptag {
  font-size: 13px;
  line-height: 16px;
}

.ptag2,
.ptag4 {
  background-color: #c1c7d0;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  margin-left: 10px;
  margin-right: 10px;
}

.ptag3,
.ptag5 {
  font-weight: 600;
  color: #7a869a;
}

.description {
  font-weight: 400;
  color: #344563;
  line-height: 24px;
}

.p-description {
  font-size: 15px;
}

.works-categories {
  display: inline-flex;
  justify-content: space-around;
  margin-left: 16px;
}

.wcat {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  margin-right: 20px;
  color: #6070ff;
  background-color: #ebebff;
  padding: 4px 12px;
  border-radius: 8px;
}

.btn {
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #396df2;
  letter-spacing: 0.03em;
  background-color: #fff;
  border: 1px solid #396df2;
  border-radius: 8px;
  padding: 5px 10px;
  text-align: center;
  margin-top: 16px;
}

.project-view-btn {
  margin-left: 16px;
}

.btn:hover {
  background-color: #6070ff;
  color: #fff;
  border: 1px solid #fff;
}

.cursor-pointer {
  cursor: pointer;
}

/* End works section  */

/* Begin About Myself Section */
.about-myself {
  background-color: #fff;
  border-top-right-radius: 75px;
  padding: 100px 24px;
}

.about-title {
  display: flex;
  align-items: center;
  width: 327px;
  height: 101px;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.about-description {
  line-height: 24px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.connect-text {
  font-weight: 500;
  color: #7f8cff;
}

.abt-cat {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 20px 18px 0;
  cursor: pointer;
}

.outer-item-left {
  color: #000;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.abt-cat-outer {
  margin-top: 50px;
}

.abt-cat-inner-item {
  display: flex;
  align-items: center;
  background-color: #f7f7f9;
  border-radius: 8px;
  padding: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.inner-item-right {
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  margin-left: 20px;
  color: #253858;
}

hr {
  background-color: #dfe1e6;
}

.inner-item-left {
  width: 48px;
  height: 48px;
}

.outer-list {
  border-bottom: 2px solid #dfe1e6;
}

.active-list-item {
  cursor: auto;
}

.social-media-2 {
  list-style: none;
  display: flex;
  align-items: center;
  width: 50%;
  padding-bottom: 15px;
}

/* End About Myself Section */

/* Begin Contact Section */
.contact {
  background: #6070ff;
  border-top-left-radius: 75px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 25px;
  background-image: url(../img/background-contact.svg);
  background-repeat: no-repeat;
  background-position: right;
}

.contact-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #fff;
  padding-top: 103px;
}

.contact-deccription {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
}

.contact-form {
  padding-top: 50px;
}

.input {
  width: 100%;
  box-sizing: border-box;
  padding: 15px 38px 15px 16px;
  margin-bottom: 18px;
}

.username-input,
.email-input {
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: #172b4d;
}

.message-input {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #b3bac5;
  height: 140px;
}

.contact-btn {
  padding: 12px 16px;
  background: #fff;
  border-radius: 8px;
  width: 140px;
  height: 48px;
  border: none;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #6070ff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.end-line {
  background: #0d151e;
  border-radius: 10px;
  margin-top: 30px;
  height: 5px;
  margin-right: 120px;
  margin-left: 120px;
}

/* Begin Contact Section */
