@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

/*  Begin Common styles for both mobile and desktop version  */
:root {
  --white-bg: #fff;
  --white-border: 1px solid #fff;
  --white-text: #fff;
  --dark-text: #172b4d;
  --blue-text: #396df2;
  --blue-bg: #396df2;
  --blue-border: 1px solid#396df2;
  --blue-bg: #6070ff;
  /* --blue-text: hsl(234, 90%, 49%); */
  --font-weight-700: 700;
  --font-weight-600: 600;
  --font-weight-500: 500;
  --body-bg: #e5e5e5;
  --dark-border: #172b4d;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 70px;
}

body {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  margin: 0;
  background-color: var(--body-bg);
  min-height: calc(100vh - 10px);
}

.projects-h2 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  border: 2px solid goldenrod !important;
}

.link {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.text-center {
  text-align: center;
}

.header-headline-wrapper {
  padding-top: 10px;
  padding-bottom: 80px;
  background-color: var(--white-bg);
  border-bottom-left-radius: 75px;
  border: var(--white-border);
}

.about-contact-wrapper {
  background-color: var(--white-bg);
}

@media screen and (max-width: 768px) {
  .mobile-menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    background-color: #fff;

    /* position: fixed;
    top: 0;
    z-index: 50; */
    box-shadow: rgba(50, 50, 93, 0.25) 0 2px 5px -1px, rgba(0, 0, 0, 0.3) 0 1px 3px -1px !important;
  }

  .mobile-nav {
    padding: 1.5rem;
    z-index: 1000;
    border: none;
    cursor: pointer;
  }

  .hamburger {
    width: 40px;
    height: 5px;
    background-color: var(--blue-bg);
    margin: 6px 0;
    transition: 0.4ms ease-in-out;
  }

  .change-mobile-nav .hamburger {
    background-color: var(--white-bg);
  }

  .desktop-nav {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background: var(--blue-bg);
    transition: transform 250ms ease-in-out;
    display: flex;
    flex-direction: column;
    transform: translateX(100%);
    text-align: center;
  }

  .change-mobile-nav .desktop-nav {
    transform: translateX(0);
  }

  .change-mobile-nav .bar-1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }

  .change-mobile-nav .bar-2 {
    opacity: 0;
  }

  .change-mobile-nav .bar-3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }

  .nav-flex {
    margin: 3rem;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 90px;
  }

  .desktop-nav .link {
    color: var(--white-text);
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
  }

  nav .nav-flex-item:hover {
    text-decoration: underline;
  }
}

/* End Common styles for both mobile and desktop version */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headline-section {
  top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--dark-text);
  background-image: url("../img/shapes-mobile-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100vh;
  margin-bottom: 100px;
  background-color: var(--white-bg);
}

.logo {
  display: flex;
  margin-left: 24px;
  font-weight: var(--font-weight-700);
  font-size: 18px;
  line-height: 20px;
  color: var(--blue-text);
  text-align: center;

  /* animation: rotation 1s 1 linear;
  transition: all 0.5s ease-out; */
  padding: 5px 10px;
}

/* @keyframes rotation {
  from {
    color: var(--dark-text);
    background-color: var(--body-bg);
    font-weight: bold;
    transform: rotate(0deg);
  }

  to {
    transform: rotate(180deg);
  }
} */

.flex-item {
  margin-left: 24px;
  margin-right: 24px;
}

.headline-section .flex-item1 {
  font-weight: var(--font-weight-700);
  font-size: 40px;
  line-height: 52px;
}

.headline-section .flex-item2 {
  font-weight: 400;
}

.headline-section.flex-item2.flex-item3 {
  font-size: 16px;
  line-height: 24px;
}

/** Socil Media **/
.social-media {
  list-style: none;
  display: inline-flex;
  gap: 20px;
  align-items: center;
  padding-left: 24px;
}

.menu:hover {
  cursor: pointer;
}

/* Begin works section mobile version */
@media screen and (max-width: 768px) {
  .contact-btn {
    padding: 12px 16px;
    background: var(--white-bg);
    border-radius: 8px;
    width: 140px;
    height: 48px;
    border: none;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--blue-text);
    flex: none;
    order: 0;
    flex-grow: 0;
  }
}

#projects_area {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-gap: 50px;
  padding: 0 16px 50px 16px;
}

#projects_area .flex-sect2 {
  padding-bottom: 25px;
}

.grid-item {
  box-sizing: border-box;
  background-color: var(--white-bg);
  transition: 0.3s;
  width: 100%;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}

.mlr-16 {
  margin-left: 16px;
  margin-right: 16px;
}

.project_img {
  /* margin-top: 16px;
  margin-left: 16px;
  margin-right: 16px; */
  border-radius: 8px;
  transition: transform 0.5s ease-out;
  overflow: hidden;
}

.project_img:hover {
  transform: scale(1.008);
}

.modal-content .project_img {
  transition: none;
}

.modal-content .project_img:hover {
  transform: none;
}

.modal-footer {
  display: flex;
  justify-content: space-around;
}

.modal-footer a {
  text-decoration: none;
}

.btn {
  font-weight: var(--font-weight-500);
  font-size: 17px;
  line-height: 24px;
  color: var(--blue-text);
  letter-spacing: 0.03em;
  background-color: var(--white-bg);
  border: var(--blue-border);
  border-radius: 8px;
  padding: 8px 16px;
  text-align: center;
  margin-top: 16px;
  transition: all 0.5s ease-out;
  cursor: pointer;
}

.modal-footer .btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 5px;
  margin: 8px;
  padding: 4px 8px;
  font-size: 12px;
  width: 130px;
}

.modal-img-container {
  padding: 20px;
}

.modal-img-container img {
  width: 100%;
  height: auto;
}

#works .grid-item .flex-sect img {
  width: 100%;
  height: 100%;
}

.project-title {
  font-weight: var(--font-weight-700);
  font-size: 32px;
  line-height: 44px;
  color: var(--dark-text);
  margin-bottom: 0;
}

.ptags {
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  margin: 16px;
  gap: 5px;
  flex-wrap: wrap;
}

.ptag1 {
  font-weight: var(--font-weight-600);
  font-size: 13px;
  line-height: 16px;
  color: #344563;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.ptag2 {
  flex: none;
  order: 1;
  flex-grow: 0;
}

.ptag3 {
  flex: none;
  order: 2;
  flex-grow: 0;
}

.ptag4 {
  flex: none;
  order: 3;
  flex-grow: 0;
}

.ptag5 {
  flex: none;
  order: 5;
  flex-grow: 0;
}

.ptag {
  font-size: 13px;
  line-height: 16px;
}

.ptag2,
.ptag4 {
  background-color: #c1c7d0;
  width: 8px;
  height: 8px;
  border-radius: 100%;
}

.ptag3,
.ptag5 {
  font-weight: var(--font-weight-600);
  color: #7a869a;
}

.description {
  font-weight: 400;
  color: #344563;
  line-height: 24px;
}

.p-description {
  font-size: 15px;
}

.works-categories {
  display: inline-flex;
  justify-content: space-around;
  margin-left: 16px;
  gap: 20px;
  flex-wrap: wrap;
}

.wcat {
  font-weight: var(--font-weight-500);
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: var(--blue-text);
  background-color: #ebebff;
  padding: 4px 12px;
  border-radius: 8px;
}

.project-view-btn {
  margin-left: 16px;
}

#myModal .btn:hover,
#works .btn:hover,
#myModal .btn:hover,
#works .btn:focus {
  background-color: var(--blue-bg);
  color: var(--white-text);
}


#about .btn:hover,
#about .btn:focus {
  background-color: var(--blue-bg);
  color: var(--white-text);
}

.contact-btn:hover,
.contact-btn:focus {
  background-color: var(--white-bg);
  color: var(--dark-text);
}

.cursor-pointer {
  cursor: pointer;
}

/* End works section  */

/* Begin About Myself Section */
.about-myself {
  background-color: var(--white-bg);
  border-top-right-radius: 75px;
  padding: 100px 24px;
}

.about-title {
  display: flex;
  align-items: center;
  width: 327px;
  height: 101px;
  font-weight: var(--font-weight-700);
  font-size: 40px;
  line-height: 52px;
  color: var(--dark-text);
  flex: none;
  order: 0;
  flex-grow: 0;
}

.about-description {
  line-height: 24px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.connect-text {
  font-weight: var(--font-weight-500);
  color: #7f8cff;
  font-size: 16px;
  line-height: 24px;
}

.abt-cat {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 20px 18px 0;
  cursor: pointer;
  flex-wrap: wrap !important;
}

.outer-item-left {
  color: var(--dark-text);
  font-weight: var(--font-weight-500);
  font-size: 20px;
  line-height: 24px;
}

.abt-cat-outer {
  margin-top: 50px;
}

.abt-cat-inner-item {
  display: flex;
  align-items: center;
  background-color: #f7f7f9;
  border-radius: 8px;
  padding: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  min-width: 150px;
}

.inner-item-right {
  font-weight: var(--font-weight-500);
  font-size: 15px;
  line-height: 20px;
  margin-left: 20px;
  color: #253858;
}

hr {
  background-color: #dfe1e6;
}

.inner-item-left {
  width: 48px;
  height: 48px;
}

.outer-list {
  border-bottom: 2px solid #dfe1e6;
}

.social-media-2 {
  list-style: none;
  display: flex;
  align-items: center;
  width: 50%;
  gap: 10px;
  padding-bottom: 15px;
}

/* End About Myself Section */

/* Begin Contact Section */
.contact {
  background: var(--blue-bg);
  border-top-left-radius: 75px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 25px;
  background-image: url("../img/background-contact.svg");
  background-repeat: no-repeat;
  background-position: right;
  border-top: var(--white-border);

  /* fallback color incase background image not available */
  background-color: var(--blue-bg);
}

.contact-title {
  font-weight: var(--font-weight-700);
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: var(--white-text);
  padding-top: 103px;
}

.contact-decription {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
}

.contact-form {
  padding-top: 25px;
}

.error {
  background-color: var(--white-bg);
  color: red;
}

.input {
  width: 100%;
  box-sizing: border-box;
  padding: 15px 38px 15px 16px;
  margin-bottom: 18px;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
}

.username-input,
.email-input {
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: var(--dark-text);
}

.message-input {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  height: 140px;
}

.message-input::placeholder {
  color: #b3bac5;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 100;
  padding-top: 50px;
  padding-bottom: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0 0 0 / 75%);
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: var(--white-bg);
  margin: 0 auto;

  /* margin-bottom: 100px; */
  padding-bottom: 25px;
  width: 90%;
  border-radius: 15px;
  height: calc(100vh - 100px);
  overflow-y: auto;
}


/* The Close Button */
.close {
  color: #67798e;
  float: right;
  font-size: 40px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 32px;
  color: var(--dark-text);
}

.modal-content hr {
  background: #ebecf0;
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 35px;
}

#project-name {
  margin-left: -12px;
}

/* End Contact Section */

/* Begin Desktop Version CSS */
@media screen and (min-width: 768px) {

  /* Begin Header Section */
  .header {
    background-color: #2929e9b8;
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 50;
    box-shadow: rgba(50, 50, 93, 0.25) 0 2px 5px -1px, rgba(0, 0, 0, 0.3) 0 1px 3px -1px !important;
  }

  .mobile-nav {
    display: none;
  }

  .nav-flex {
    display: flex;
    gap: 25px;
    margin-right: 10px;
  }

  .nav-flex-item .link {
    flex: 1;
    font-weight: var(--font-weight-500);
    font-size: 15px;
    line-height: 20px;
    color: var(--white-text);
    transition: all 0.5s ease-out;
    padding: 5px 10px;
  }

  .link:hover {
    background-color: var(--white-bg);
    color: var(--dark-text);
  }

  .svg-icon {
    width: 32px;
    color: var(--white-text);
    padding: 5px;
  }

  .logo:hover .svg-icon {
    background-color: var(--white-bg);
    color: var(--dark-text);
  }

  .click-effect {
    border: 1px solid #fff;
  }

  /* End Header Section */

  /* Begin Headline Section */
  .headline-section {
    background-image: url("../img/headline-desktop-bg.svg");
    padding-left: 190px;
    padding-right: 190px;

    /* fallback color incase background image not available */
    background-color: var(--white-bg);
  }

  .headline-section .flex-item1 {
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 0.37px;
  }

  /* End Headline Section */

  /* Begin Works Section */
  .works {
    grid-gap: 142px;
    margin: 142px;
    padding: 0;
  }

  .grid-item {
    display: inline-flex;
    flex-direction: row;
  }

  .flex-sect {
    width: 50%;
    height: 100%;
  }

  .modal-body .flex-sect {
    width: 100%;
    padding-right: 16px;
  }

  .grid-item2 .flex-sect1 {
    order: 1;
  }

  .grid-item2 .flex-sect2 {
    order: 0;
  }

  .grid-item4 .flex-sect1 {
    order: 1;
  }

  .grid-item4 .flex-sect2 {
    order: 0;
  }

  .project-title {
    font-size: 30px;
    line-height: 52px;
    color: #091e42;
  }

  .big-title {
    font-size: 40px;
    line-height: 52px;
    color: #091e42;
    font-weight: var(--font-weight-700);
  }

  .ptag {
    font-size: 18px;
    line-height: 24px;
  }

  .ptag3 {
    color: #6b778c;
  }

  /* End Works Section  */

  /* Begin About Section */
  .about-myself {
    display: flex;
    flex-direction: row;
    padding-top: 142px;
    padding-left: 142px;
    padding-right: 142px;
    gap: 37px;
  }

  .abt-cat {
    margin-left: 15px;
  }

  .about-flex__sect__left {
    width: 40%;
  }

  .about-flex__sect__right {
    width: 60%;
  }

  .abt-cat-inner {
    display: flex;
    flex-direction: row;
    gap: 0.75rem;
    flex-wrap: wrap;
    overflow-x: auto;
    max-width: 100%;
  }

  .abt-cat-inner-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .inner-item-right {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 0;
    color: #253858;
  }

  .inner-item-left {
    margin-right: 62px;
  }

  /* End About Section */

  /* Begin Contact */
  .contact {
    border-top-left-radius: 50px;
    padding-left: 320px;
    padding-right: 320px;
    padding-bottom: 100px;
    background-image: url("../img/background-contact.svg");
    background-repeat: no-repeat;
    background-position: right;

    /* fallback color incase background image not available */
    background-color: var(--blue-bg);
  }

  .contact-btn {
    margin: 0 auto;
    display: block;
  }

  .end-line {
    display: none;
  }

  .input {
    border-radius: 2px;
  }

  /* Modal Styles */
  .modal-content hr {
    display: none;
  }

  .ptags {
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 22px;
    gap: 10px;
    flex-wrap: wrap;
  }

  .modal .mlr-16 {
    margin-left: 0;
  }

  .ul-footer-desktop {
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .modal-footer a {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  .modal-footer .btn {
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
  }

  .desktop-version-grid {
    margin-left: 16px;
    display: inline-grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
  }

  .works-categories {
    display: inline-flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .modal-footer {
    display: flex;
    justify-content: flex-start;
    gap: 0;
    margin-top: 15px;
  }

  /* End Contact */

  /* modal style for desktop screen */
  .modal-content {
    position: relative;
    background-color: var(--white-bg);
    margin: 0 auto;

    /* margin-bottom: 100px; */
    padding-bottom: 25px;
    width: 60%;
    border-radius: 15px;
    padding: 20px;
  }

  .modal-content-wrapper {
    padding: 20px;
    height: calc(100vh - 150px);
    overflow-y: auto;
  }
}

/* End Desktop Version CSS */

.d-none {
  display: none;
}