.wrapper {
  background-image: url("../img/shapes-mobile-bg.png");
  min-height: 100vh;
  background-position: center;
  background-repeat: repeat-y;
  background-size: cover;
  position: relative;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.logo {
  display: flex;
  margin-left: 24px;
  font-family: Poppins;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: #6070FF;
  top: 10px;
  left: 12px;
}

.menu {
  margin-right: 36px;
  width: 36px;
  top: 12px;
  left: 4px;
}

.hamburger-icon {
  width: 100%;
  height: 5px;
  background-color: #ACB7C3;
  margin: 6px 0;
}

.headline-section {
  top: 114px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  color: #172B4D;
  margin-left: 24px;
  margin-right: 24px;
  font-family: Poppins;
  font-style: normal;
}

.flex-item {
  flex: 1 1 100%;
}

.headline-section .flex-item1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
}


.headline-section .flex-item2 {
  font-weight: 400;
}

.headline-section .flex-item3 {
  font-weight: 500;
}

.headline-section .flex-item2,
.flex-item3 {
  font-size: 16px;
  line-height: 24px;
}

/**Socil Media**/
.social-media {
  display: flex;
  align-items: center;
  width: 50%;
  /* justify-content: space-between; */
  /* list-style: none; */
}

.social-md {
  flex: 1 1 5px;
  /* border: 2px solid goldenrod; */
}


.social-md:hover, .logo:hover, .menu:hover {
  cursor: pointer;
}